@use 'variables';
@use 'mixins';

.container {
    margin: 0 auto;
    max-width: 600px;
}

body {
    background-color: variables.$bg;
    color: variables.$text;
    font-family: variables.$primary-ff;
}

html {
    font-size: 100%;
    @include mixins.tablet-styles() {font-size: 112.5%;}
}