//font families
$primary-ff: "Rubik", sans-serif;

//colors
$bg: #202020;
$outline: #373737;
$text: #BABABA;
$add: #626ED9;
$done: #ECBB5B;
$undone: #ECBB5B80;
$remove: #C64444;
$remove-uncheck: #C6444480; 
$checked-bg: #37373780;
$checked-text: #bababa80;
$white: #fff;
$btn-text: #2c2c2c;


//breakpoints(mobile is default)
$tablet-bp: "only screen and (min-width: 900px)";

//random
